name: Build and Deploy Logger

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker image
        run: docker build -t bootcamp-logger .

      - name: Set ECR image URI
        run: |
          echo "ECR_IMAGE=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/bootcamp-logger:latest" >> $GITHUB_ENV

      - name: Tag Docker image
        run: docker tag bootcamp-logger:latest $ECR_IMAGE

      - name: Push Docker image to ECR
        run: docker push $ECR_IMAGE

      - name: Run ECS task
        run: |
          SUBNET_ID=$(aws ec2 describe-subnets --region ${{ secrets.AWS_REGION }} --query 'Subnets[0].SubnetId' --output text)
          SG_ID=$(aws ec2 describe-security-groups --region ${{ secrets.AWS_REGION }} --query 'SecurityGroups[0].GroupId' --output text)
          aws ecs run-task --cluster bootcamp-cluster --launch-type FARGATE --task-definition bootcamp-logger-task --network-configuration "awsvpcConfiguration={subnets=[$SUBNET_ID],securityGroups=[$SG_ID],assignPublicIp=ENABLED}"
